<% if user_signed_in? %>
  <ul>
    <li><a href="/location/12/13">Location 1</a></li>
    <li><a href="/location/14/15">Location 2</a></li>
    <li><a href="/location/16/17">Location 3</a></li>
  </ul>
<% else %>
  <a href="/users/sign_in" class='btn btn-success'>Sign In</a>
  <a href="/users/sign_up" class='btn btn-info'>Sign Up</a>
<% end %>
