<div class='row-fluid'>
 <div class='span12 '>
    <h2>Location Title</h2>
    <p>
      Location Address
    </p>

    <h1>
      <%= link_to "/stories/new/#{@lat}/#{@long}" do %>
        <i class="fa fa-plus-circle fa-2x"></i>
      <% end %>
      My Stories
    </h1>

    <ul class="media-list">
      <% @stories.each do |story| %>
        <li class="media">
          <%= link_to "/stories/#{story.id}" do %>
            <span class="fa-stack fa-lg media-object pull-left">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-music fa-stack-1x fa-inverse"></i>
            </span>
            <div class="media-body">
              <h4 class="media-heading"><%= story.title %></h4>
            </div>
          <% end %>
        </li>
      <% end %>
        </div>
      </li>
    </ul>

    <h3>Other People's Stories</h3>
    <ul>
      <li>this</li>
      <li>is</li>
      <li>a</li>
      <li>story</li>
      <li>list</li>
    </ul>

 </div>
</div>
